body{
  background-color: #0f1123;
  margin: 10% auto;
  padding: 10% 1%;
  text-align: center;
  font-family: "Lobster", "cursive";


}
h1{
  padding: 2% 1%;
  margin: 10% auto;
  letter-spacing: 9px;
  font-size: 190px;
  color: #ec4646;
  text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
  filter: drop-shadow(2px 2px 20px #f008b7);
}
h2{
  padding: 2% 1%;
  margin: 10% auto;
  letter-spacing: 1px;
  font-size: 190px;
  color: #ec4646;
  text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
}
.calculator-container {
  text-align: center;
  background-color:#d9ecf2;

}
.name-box {
  padding: 12px 14px;
  width: 40%
}
.btn {
  cursor: pointer;
  margin: 10px 10px;
  padding: 9px 18px 9px 18px;
  position: relative;
  font-size: 1rem;
}
.btn:hover {
  box-shadow: 5px 3px #bd245f;
  color: #214151;
}
.social-media{ opacity:0.5;
  cursor:pointer;
  padding: 10px 3px 0 4px}
  .social-media:hover{opacity: 1;}
 a{color:#ee4266;}
 /* copy right  */
 p{opacity: 1;
 font-size: 1rem;}
 #notice{opacity: 0.5;
 font-size:.8rem;}

/*Responsive*/
@media (max-width: 1028px) {
  h1{font-size:300%;}
}
